<footer class="footer">
  <div class="count">{{ count }} items left</div>

  <div class="status">
    <div class="status-item selected"
         [class.selected]="filterParam === FilterNames.all || filterParam ===''"
         (click)="choosingFilterParam(FilterNames.all)">All
    </div>

    <div class="status-item"
         [class.selected]="filterParam === FilterNames.active"
         (click)="choosingFilterParam(FilterNames.active)">Active
    </div>

    <div class="status-item"
         [class.selected]="filterParam === FilterNames.completed"
         (click)="choosingFilterParam(FilterNames.completed)">Completed
    </div>
  </div>
  <div class="clear" (click)="clearCompleted()"
       [class.hidden]="!checkedSomeOne">Clear completed
  </div>
</footer>
