.container{
  h1 {
    font-size: 80px;
    font-weight: 200;
    text-align: center;
    color: #b83f45;
    margin-bottom: 0;
  }

  .info {
    margin-top: 40px;
    color: #4d4d4d;
    font-size: 11px;
    //text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    text-align: center;
  }
}
